.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 51px;
    position: relative;
}

.filterTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
}

.filterButton, .filterButtonActive {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    /* position: relative; */

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        border-color: #d9b6ff;
        color: #d9b6ff;
        cursor: pointer;
    }

    &:active {
        border-color: #ad61ff;
        color: #ad61ff;
        cursor: pointer;
    }
}

.filterButtonActive {
    color: #ad61ff;
    border-color: #ad61ff;
}

.selectedPerformerFilterCount, .selectedYearFilterCount, .selectedGenreFilterCount {
    position: absolute;
    top: -10px;
    left: 240px;
    width: 26px;
    height: 26px;
    text-align: center;
    background-color: #6b46c1;
    color: #fff;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 13px;
    font-weight: bold;
}

.selectedYearFilterCount {
    left: 400px;
}

.selectedGenreFilterCount {
    left: 505px;
}

.skeletonContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}