.text {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.button {
    width: 200px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    color: #ffffff;
    background-color: #000000;

    &:hover {
        border-color: #d9b6ff;
        color: #d9b6ff;
        cursor: pointer;
    }
}